html{
  font-size: 62.5% ;
}

.resume-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: fit-content;
  margin: 12rem 0;
}

.resume-card {
  display: flex;
  height: 36rem;
  width: 100rem;
  /* margin: 80rem 0; */
}

.resume-bullets {
  box-shadow: 1.5rem 0 .9rem -1.5rem #1f2235;
  height: 100%;
  width: 32rem;
}

.resume-bullet-details {
  flex-grow: 1;
  width: 60rem;
  overflow: hidden;
  padding: 0 0 0 8rem;
}

.experience-description {
  margin: 1rem 0 0 0;
  text-align: justify;
}

.resume-description-text {
  font-size: 1.2rem;
}

.resume-details-carousal {
  transition: transform 1s ease-out;

}

.bullet-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.bullets {
  width: 86%;
  position: relative;
  z-index: 2;
}

.bullet {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #1f2235;
  height: 4rem;
  margin: 1.5rem 0;
  padding: 0 .8rem;
  border-radius: 2rem;
  width: 3rem;
  transition: width 0.6s ease;
}

.bullet-label {
  font-size: 1.4rem;
  white-space: nowrap;
  font-family: "Poppins SemiBold";
}

.bullet-logo {
  height: 1.6rem;
  margin: 0 3rem 0 0;
}

.bullet-icons {
  width: 3.4rem;
  height: 100%;
  z-index: 1;
  background-color: #1f2235;
  position: absolute;
}

.selected-bullet {
  color: var(--white);
  width: 100%;
}

.resume-screen-container {
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  justify-content:space-evenly;
  /* height: 36rem; */
  width: 100%;
}

.resume-heading {
  display: flex;
  flex-direction: column;
}

.resume-main-heading {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.resume-main-heading span {
  color: var(--dark-orange);
  font-size: 1.6rem;
  font-family: "Poppins SemiBold";
}

.experience-description {
  max-width: 100%;
}

.heading-bullet {
  position: absolute;
  left: -3rem;
  height: 1.5rem;
  width: 1.5rem;
  top: .5rem;
  border-radius: 50%;
  background-color: #ff5823;
}

.resume-sub-heading {
  font-size: 1.4rem;
  font-family: "Poppins SemiBold";
  color: var(--black);
}

.resume-heading-description {
  font-size: 1.2rem;
  text-align: justify;
}

.heading-date {
  background-color: #ff5823;
  padding: .4rem .5rem;
  font-size: 1.4rem;
  border-radius: 1.4rem;
  color: var(--white);
}

.skill-parent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}

.programming-skills-container {
  padding: 1rem 0rem ;
  height: 40rem ;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;  
}

.skill-percentage {
  position: relative;
  height: 1.5rem;
  width: 70%;
  background-color: #ff5823;
}

.skill-percentage .active-percentage-bar {
  height: 1.5rem;
  transition: 0.8s ease;
  position: absolute;
  background-color: #1f2235;
}

.skill-parent span {
  font-family: "Poppins Bold";
  font-size: 1.6rem;
  color: #ff5823;
}
.resume-screen-container {
  height: 40rem ;
}

/* IPAD PRO RESPONSIVENESS */
@media only screen and (max-width: 1110px) {
  html{
    font-size: 60%;
  }
  .resume-card {
    width: 88rem;
  }

  .resume-bullet-details {
    padding: 0 0 0 7rem;
  }
}

@media only screen and (max-width: 1023px) {
  html{
    font-size: 55%;
  }

  .resume-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bullets {
    width: 90%;
  }

  .resume-card {
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    align-items: center;
    width: 90%;
  }

  .resume-bullet-details {
    height: 36rem;
    padding: 0;
    width: fit-content;
  }

  .resume-bullets {
    margin: 3rem 0;
    width: 100%;
  }

  .selected-bullet {
    width: 100%;
  }

  .resume-screen-container.projects {
    display: flex;
    justify-content: center;
  }

  .resume-screen-container.workhis {
    justify-content: center;
    display: flex;
}

}

/* IPAD RESPONSIVENESS */
@media only screen and (max-width: 600px) {
  html{
    font-size: 50%;
  }

  .resume-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bullets {
    width: 90%;
  }

  .resume-card {
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    align-items: center;
    width: 90%;
  }

  .resume-bullet-details {
    height: 36rem;
    padding: 0;
    width: fit-content;
  }

  .resume-bullets {
    margin: 3rem 0;
    width: 100%;
  }

  .selected-bullet {
    width: 100%;
  }
  /* .resume-screen-container {
    height: 40rem ;
  } */
  /* .projects .resume-main-heading .heading-date{
    font-size: .8rem ;
  } */
  /* Heading sub heading font size */
  /* .projects .resume-main-heading span{
    font-size: 1.4rem ;
  }
  .projects .resume-sub-heading span{
    font-size: 1.3rem ;
  }
  .projects .resume-heading-description span{
    font-size: 1.2rem ;
  } */

  .resume-screen-container.projects {
    display: flex;
    justify-content: center;
  }

  .resume-screen-container.workhis {
    justify-content: center;
    display: flex;
}
}